.aboutMe {
  width: 100%;
  background: #ffb400;
  min-height: 400px;
}
.aboutMe__container {
  width: 50%;
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
  color: #fff;
  text-align: center;
}
.aboutMe__container h2 {
  font-size: 2.5rem;
  margin-top: 40px;
}
.aboutMe__container p {
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 70px;
}
@media screen and (max-width: 800px) {
  .aboutMe__container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    color: #fff;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .aboutMe__container h2 {
    font-size: 2rem;
  }
}
